################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EzPacker
/EzPacker/obj
/EzPacker_Stub/obj/Release
/EzPacker_Test1/bin/Release
/EzPacker_Test1/obj/Release
/Release
